version: "3.8"

services:
  app:
    build:
      context: .
    image: albertuskusuma/laravel11docker-app:latest
    container_name: laravel_app
    restart: always
    volumes:
      - ./:/var/www
    networks:
      - laravel-net

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel-net

networks:
  laravel-net:
    driver: bridge
