version: "3.8"

services:
  app:
    build:
      context: .
    image: laravel11docker-app:latest
    container_name: laravel_app
    restart: always
    volumes:
      - ./src:/var/www/laravel11docker   # hanya folder code, aman
    networks:
      - laravel-net

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lrv11_biodata_app
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel-net

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/laravel11docker          # folder Laravel
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel-net

networks:
  laravel-net:
    driver: bridge

volumes:
  mysql_data:
